<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="ROOT_LEVEL" value="WARN"/>
    <property name="APPLICATION_LEVEL" value="INFO"/>
    <property name="STACK_TRACE_COUNT" value="15"/>

    <property name="PATTERN" scope="context"
              value="%date{yyyy-MM-dd'T'HH:mm:ss.SSS} %-7([%level])  %logger{40}.%method@%line:%n  %message %rootException{${STACK_TRACE_COUNT}}%n"/>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/Ordering.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/Ordering-%d{yyyy-MM-dd_HH}.%i.log.zip</fileNamePattern>
            <maxFileSize>200MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="com.example" additivity="true" level="${APPLICATION_LEVEL}"/>

    <root level="${ROOT_LEVEL}">
        <appender-ref ref="Console" />
        <appender-ref ref="ROLLING" />
    </root>
</configuration>